@page "/counter"

<PageTitle>BucHunt</PageTitle>

<h1>BucHunt</h1>

<body> 
<div id="wrapper">
{

    <section class='pw'><h2>BucHunt</h2></section>

    <div class="container">
    <div class="row">
      <div class="col-md-6">

        <table class="table">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Location</th>
                    <th>Answer</th>
                    <th>Submit</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
        </table>
            </div>
    <div class="col-md-6">
    <div id="map"></div>
    </div>
    </div>
    </div>

}
    </div>
</body>





@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}*/
