@page "/counter"

<PageTitle>BucHunt</PageTitle>

<h1>BucHunt</h1>

<body> 
<div id="wrapper">
{

    <section class='pw'><h2>BucHunt</h2></section>

    <div class="container">
    <div class="row">
      <div class="col-md-9">

        <table class="table">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Location</th>
                    <th>Answer</th>
                    <th>Submit</th>
                </tr>
            </thead>
            <!-- Task entries. <tr> are the rows, <th> are the entries, organized the same way as the tHead entries
                above indicate. Final entry should be a confirm button for the third entry for that row,
                and the third entrie should always be a form, if ever implemented-->
            <tbody>
                <tr>
                    <th>How many restaurants are in the Culp?</th>
                    <th>Culp</th>
                    <th>wueidjji</th>
                    <th>wefaiojf</th>
                </tr>
                <tr>
                    <th>What room number is the counseling center in the Culp?</th>
                    <th>Culp</th>
                    <th>wefanoju</th>
                    <th>ewfaojoj</th>
                </tr>
                <tr>
                    <th>When was the leadership and excellence memorial for our fallen soldier students dedicated?</th>
                    <th>plaza outside of memorial hall, next to the flagpoles.</th>
                    <th>wfaelnqw</th>
                    <th>qwdsndnq</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
        </table>
            </div>
    <div class="col-md-6">
    <div id="map"></div>
    </div>
    </div>
    </div>

}
    </div>
</body>





@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}*/
