@page "/counter"

<PageTitle>BucHunt</PageTitle>

<h1>BucHunt</h1>

<body> 
<div id="wrapper">
{

    <section class='pw'></section><!--<h2>BucHunt</h2> was included in this line, but removed due to redundency-->

    <div class="container">
    <div class="row">
      <div class="col-md-12">

        <table class="table">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Location</th>
                    <th>Answer</th>
                    <th>Submit</th>
                </tr>
            </thead>
            <!-- Task entries. <tr> are the rows, <th> are the entries, organized the same way as the tHead entries
                above indicate. Final entry should be a confirm button for the third entry for that row,
                and the third entrie should always be a form, if ever implemented-->
            <tbody>
                <tr>
                    <td style="width:50%">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                    <td style="width:15%">incididunt</td>
                    <td style="width:15%">ut labore</td>
                    <td style="width:15%">et dolore</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                    <td>incididunt</td>
                    <td>ut labore</td>
                    <td>et dolore</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                    <td>incididunt</td>
                    <td>ut labore</td>
                    <td>et dolore</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                    <td>incididunt</td>
                    <td>ut labore</td>
                    <td>et dolore</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                    <td>incididunt</td>
                    <td>ut labore</td>
                    <td>et dolore</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                    <td>incididunt</td>
                    <td>ut labore</td>
                    <td>et dolore</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                    <td>incididunt</td>
                    <td>ut labore</td>
                    <td>et dolore</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                    <td>incididunt</td>
                    <td>ut labore</td>
                    <td>et dolore</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                    <td>incididunt</td>
                    <td>ut labore</td>
                    <td>et dolore</td>
                </tr>
                <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</td>
                    <td>incididunt</td>
                    <td>ut labore</td>
                    <td>et dolore</td>
                </tr>
            </tbody>
        </table>
            </div>
    <div class="col-md-6">
    <div id="map"></div>
    </div>
    </div>
    </div>

}
    </div>
</body>





@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}*/